src/**
tsconfig.json
.gitignore
.vscode/**
ARCHITECTURE.md
esbuild.js
out/*.js
out/*.d.ts
out/*.map
!out/extension.cjs
!out/extension.cjs.map
node_modules/**
*.ts
*.map
out/**/*.js
!out/**/*.cjs
out/**/*.d.ts
out/**/*.map
coverage/**
test/**
.github/**
.vscode-test.*
.vsixignore
